<% @items.each do |item| %>
	<h3><%= link_to item.name, "/items/#{item.id}" %></h3>
	<p>Price: <%= item.price %></p>
	<p>Featured?: <%= item.featured %></p>
	<h5><%= link_to "Edit #{item.name}", "/items/#{item.id}/edit", method: :get %> &nbsp;
	<%= link_to "Delete #{item.name}", "/items/#{item.id}", method: :delete %></h5>
	<br>
<% end %>

<h4><%= link_to "Sort Alphabetically", :sort => "name" %> </h4>

<h4><%= link_to "New Menu Item", "items/new" %> </h4>